html {
  color: #fff;
  background-color: #000;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.header {
  height: 64px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1050px 1fr;
  grid-template-rows: 750px;
  gap: 32px;
  height: 100%;
}

#canvas_bg {
  border-radius: 32px;
  position: absolute;
  background-image: url(../static/assets/map.jpg);
}

#canvas_neutral-object {
  border-radius: 32px;
  position: absolute;
}

#canvas {
  position: absolute;
}

.center-game {
  position: relative;
}

.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 320px;
  background-color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 8px;
}

.main__title {
  text-align: center;
  font-family: sans-serif;
}

.form__input {
  outline: none;
  width: 95%;
  font-size: 14px;
  height: 30px;
  margin-bottom: 12px;
  border: 1px solid gray;
  padding-left: 8px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}

.form.hidden {
  display: none;
}

.dead-screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0deg 0% 0% / 59%);
}

.dead-screen__text {
  text-align: center;
  font-size: 78px;
  font-weight: bold;
  color: red;
  margin-top: 200px;
  margin-bottom: 20px;
}

.dead-screen__description {
  text-align: center;
}

.main__button {
  display: flex;
  justify-content: center;
  height: 30px;
}

.main__button button {
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  width: 50%;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
}

.main__button button:hover {
  background-color: rgb(17, 17, 17);
}

.stat-list {
  padding: 0;
}

.stat-list td {
  padding: 2px 8px;
}

.ui {
  /* display: none; */
  /* pointer-events: none; */
  color: #fff;
  position: absolute;
  user-select: none;
}

.ui li,
.ui ul {
  /* pointer-events: none; */
}

.ui b {
  display: inline-block;
  min-width: 100px;
}

.left-ui {
  text-align: right;
}

.assets-image {
  display: none;
}

assets-audio {
  display: none;
}
